@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.text-color-main {
  color: #333333
}

.text-color-red {
  color: #CB4430
}

.section {
  margin-bottom: 2em;
}
